<!DOCTYPE html>
<html>
<head>
    <title>About Us - Your E-commerce Destination</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        header {
         
            Background-color: #006400;
            padding: 20px;
            color:white;
        }

        .address p {
            margin-bottom: 10px;
            color:black;
        }

        h1 {
            margin: 0;
            color: white;
        }

        main {
            padding: 40px;
        }

        p {
            line-height: 1.6;
            font-size:larger;
            color:black;
        }

        footer {
            background-color: #f4f4f4;
            padding: 20px;
            text-align: center;
        }
    </style>
</head>
<body>
    <header>
        <h1>About Us</h1>
    </header>

    <main>
       @* <h2 class="text-white">AgroMart</h2>*@
        <p>Welcome to agromart e-commerce website! We are a dedicated team passionate about delivering an exceptional online shopping experience to our customers. Our platform serves as your one-stop destination for agricultural product, providing a wide range of agricultural products from various categories.</p>

        <p>At our core, we believe that convenience, quality, and customer satisfaction are the pillars of a successful e-commerce business. With that in mind, we have meticulously curated an extensive collection of agricultural products, ensuring that you can find everything you're looking for in one place, our website has got you covered.</p>

        <p>We understand that shopping online should be easy and enjoyable. That's why we have designed our website with a user-friendly interface, allowing you to navigate effortlessly through our categories and product listings. Our intuitive search functionality helps you find specific items quickly, while detailed product descriptions and high-quality images enable you to make informed purchasing decisions.</p>

        <p>In addition to providing a seamless shopping experience, we prioritize the safety and security of our customers. We have implemented robust measures to safeguard your personal and financial information, ensuring that your transactions are protected at all times. Your privacy is of utmost importance to us, and we strictly adhere to industry best practices and regulations.</p>
        <p>Thank you for choosing our e-commerce website as your trusted shopping destination. We are dedicated to providing you with an exceptional experience, top-notch products, and unparalleled customer service. Explore our vast collection, shop with confidence, and embark on a seamless online shopping journey with us.</p>
       
        <div class="address">
            <h3>Contact Address:</h3>
            <p>Ogun-State TechHub beside PMB Estate,Kobape</p>
            <p><strong>Country:</strong> Nigeria</p>
            <p><strong>Email:</strong> nfo@Ogunbit.com</p>
            <p><strong>Phone:</strong>+234-814-039-0549</p>
            
        </div>

    </main>

    
</body>
</html>